@media (max-width: 1350px) {
  .wrapper .make_to_order .make_postc .postcard {
    width: 350px;
  }
  .wrapper .make_to_order .make_postc .postcard h3 {
    font-size: 20px;
  }
  .wrapper .make_to_order .make_postc .postcard h4 {
    font-size: 16px;
  }
  .wrapper .make_to_order .make_postc .postcard .row .col a {
    width: 135px;
  }
  .wrapper .make_to_order .make_postc .postcard .row .col .block {
    width: 135px;
  }
  .wrapper .make_to_order .make_postc .make {
    width: 800px;
  }
  .wrapper .make_to_order .make_postc .make .block.logo_on_postcard .title h3 {
    padding: 30px 20px;
  }
  .wrapper .make_to_order .make_postc .make .block.logo_on_postcard .title a {
    padding: 0 20px;
  }
  .wrapper .make_to_order .make_postc .make .row .col {
    padding: 0 20px;
  }
  .wrapper .make_to_order .make_postc .make .navigation > a {
    height: 50px;
    width: 150px;
  }
  .wrapper .make_to_order .make_postc .make .navigation ul li a {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 1200px) {
  .wrapper .make_to_order .make_postc .postcard {
    width: 320px;
  }
  .wrapper .make_to_order .make_postc .postcard .row {
    padding: 0;
    padding-left: 10px;
  }
  .wrapper .make_to_order .make_postc .make {
    width: 700px;
  }
  .wrapper .make_to_order .make_postc .make .block.logo_on_postcard .title h3 {
    padding: 30px 15px;
  }
  .wrapper .make_to_order .make_postc .make .block.logo_on_postcard .title a {
    padding: 0 15px;
  }
  .wrapper .make_to_order .make_postc .make .row .col {
    padding: 0 15px;
  }
  .wrapper .make_to_order .make_postc .make .navigation > a {
    height: 45px;
    width: 145px;
  }
  .wrapper .make_to_order .make_postc .make .navigation ul li a {
    height: 45px;
    width: 45px;
  }
  .wrapper .contacts .conection .content .row .col .block {
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .wrapper .header ul.menu {
    width: 750px;
  }
  .wrapper .slider .item .section .content {
    width: 850px;
  }
  .wrapper .slider .item .section .content h1 {
    margin-top: -50px;
  }
  .wrapper .slider .item .section.one {
    background-position: -450px;
  }
  .wrapper .make_to_order .make_postc .make {
    width: 650px;
  }
  .wrapper .make_to_order .make_postc .make .block.logo_on_postcard .title h3 {
    padding: 20px 15px;
  }
  .wrapper .make_to_order .make_postc .make .block.logo_on_postcard .title a {
    padding: 0 15px;
  }
  .wrapper .make_to_order .make_postc .make .row .col p {
    font-size: 12px;
  }
  .wrapper .collection .title img {
    right: -60px;
    top: -50px;
  }
  .wrapper .collection .items .content .item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .wrapper .header ul.menu {
    width: 700px;
  }
  .wrapper .slider .item .section .content {
    padding-left: 50px;
  }
  .wrapper .slider .item .section .content h1 {
    margin-top: -90px;
  }
  .wrapper .slider .item .section.one {
    background-position: -400px;
  }
  .wrapper .slider .item .section.three .row .col {
    justify-content: flex-start;
  }
  .wrapper .slider .item .section.three .row .col img {
    margin-top: 150px;
  }
  .wrapper .slider .item .section.four .content img {
    top: 40%;
  }
  .wrapper .popup_shadow .sidebar_order {
    width: 325px;
  }
  .wrapper .popup_shadow .sidebar_order .row {
    padding: 20px;
  }
  .wrapper .popup_shadow .sidebar_order .row h2 {
    font-size: 20px;
  }
  .wrapper .popup_shadow .sidebar_order .row .col p {
    font-size: 14px;
  }
  .wrapper .popup_shadow .sidebar_order .row .col .inline .block {
    width: 100px;
  }
  .wrapper .popup_shadow .sidebar_order .row .col .inline .value p {
    font-size: 17px;
  }
  .wrapper .popup_shadow .sidebar_order .block_gray {
    padding: 35px 20px;
  }
  .wrapper .popup_shadow .sidebar_order .block_gray .col P {
    font-size: 25px;
  }
  .wrapper .popup_shadow .sidebar_order .block_gray .col P.small {
    font-size: 10px;
  }
  .wrapper .popup_shadow .sidebar_order .block_gray .col a {
    width: 155px;
  }
  .wrapper .popup_shadow .sidebar_order .block_gray .col a.dell {
    margin-top: 20px;
  }
  .wrapper .contacts .conection .content .row .col .block {
    width: 260px;
  }
  .wrapper .contacts .conection .content .row .col .block .row a {
    margin-top: 10px;
  }
  .wrapper .page_404 h1 {
    margin-top: 100px;
  }
  .wrapper .page_404 h3 {
    top: 125px;
  }
  .wrapper .order_reg .content {
    padding-bottom: 20px;
  }
  .wrapper .order_reg .content p.location {
    padding: 25px 40px;
  }
  .wrapper .order_reg .content ul.divivery_type li {
    padding: 45px 40px;
  }
  .wrapper .order_reg .content .delivery_method .item {
    padding: 20px 40px;
  }
  .wrapper .order_reg .content .delivery_method .item p {
    margin-bottom: 0;
  }
  .wrapper .order_reg .content .pay .item {
    padding: 20px 40px;
  }
  .wrapper .order_reg .content .pay .item p {
    margin-bottom: 0;
  }
  .wrapper .order_reg .content .flex {
    padding-top: 20px;
  }
  .wrapper .order_reg .content .samov .row {
    padding: 20px 0;
  }
  .wrapper .order_reg .content.block p {
    padding: 20px 40px;
  }
  .wrapper .order_reg .content.block p.topic {
    padding: 25px 40px;
  }
}
